<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Junk Drawer</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

    <script src="js/jd.js" defer="defer"></script>
</head>
<body>
    <div id="wrapper"class="container-fluid">
        <% if(locals.isLoggedIn && (locals.flash.action !== 'register' && locals.flash.action !== 'login')){%>
            <% include main%>
        <% }else{%>
            <% include login%>
        <% }%>
    </div>
	<div style="display:none;">
		<input type="hidden" id="_user" value="<%= locals.user? JSON.stringify(locals.user): '' %>" />
        <input type="hidden" id="_error" value="<%= locals.error? JSON.stringify(locals.error): '' %>" />
		<input type="hidden" id="_csrf" value="<%= _csrf; %>" />
		<input type="hidden" id="_action" value="<%= locals.flash.action? locals.flash.action: '' %>" />
		<input type="hidden" id="_html" value="<%= locals.html? JSON.stringify(locals.html): '' %>" />
	</div>
</body>
</html>