<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JunkDrawer</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="css/jd.css" rel="stylesheet" />

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/jd.js" defer="defer"></script>
</head>
<body>
    <div id="wrapper"class="container-fluid">
        <% if(locals.isLoggedIn && (locals.flash.action !== 'register' && locals.flash.action !== 'login')){ %>
            <% include main %>
        <% }else{ %>
            <% include login %>
        <% } %>
    </div>
	<div style="display:none;">
		<input type="hidden" id="_user" value="<%= user? JSON.stringify(user): '' %>" />
        <input type="hidden" id="_error" value="<%= error? JSON.stringify(error): '' %>" />
		<input type="hidden" id="_action" value="<%= flash.action? flash.action: '' %>" />
		<input type="hidden" id="_html" value="<%= html? JSON.stringify(html): '' %>" />
		<input type="hidden" id="_csrf" value="<%= csrf; %>" />
	</div>
</body>
</html>